
@model IEnumerable<Home_A_Heaven.Models.CartModel>
@using Home_A_Heaven.Models
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double subtotal = 0;
    UserModel user = ViewBag.User;
}

<style>
    body {
        font-family: 'Times New Roman';
        color: gray;
    }

    .cart {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        color: gray;
        font-family: 'Times New Roman';
    }

    .btn1 {
        padding: 10px;
        margin-bottom: 40px;
        color: white !important;
        font-size: 16px;
        font-weight: 600;
        background-color: gray;
        border-radius: 0px;
    }

        .btn1:hover {
            opacity: 0.8;
        }

    .cart-item {
        padding-top: 50px;
    }

    .btn2 {
        border-radius: 0px;
        border: 1px solid gray;
    }

        .btn2:hover {
            opacity: 0.8;
        }

    .btn3 {
        padding: 10px;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        color: gray;
        border: 1px solid lightgray;
        border-radius: 0px;
        margin-right: 20px;
    }

        .btn3:hover {
            background-color: white;
            opacity: 0.8;
        }
</style>



    <div class="container">

        <table class="table table-borderless">
            <tr>
                <th class="">
                    @Html.DisplayName("User Name")
                </th>
                <th class="">
                    @Html.DisplayName("Email")
                </th>
                <th class="">
                    @Html.DisplayName("Address")
                </th>
                <th class="">
                    @Html.DisplayName("Contact No")
                </th>
                <th>
                    @Html.DisplayName("Total")
                </th>

            </tr>

            @foreach (var item in Model)
            {

                subtotal = subtotal + item.Total;
            }
            <tr style="border-bottom:1px solid lightgray;">
                <td class="cart-item">
                    @user.Username
                </td>
                <td class="cart-item">
                    @user.Email
                </td>
                <td class="cart-item">
                    @user.Address
                </td>
                <td class="cart-item">
                    @user.ContactNo
                </td>
                <td class="cart-item">
                    @subtotal
                </td>

            </tr>
            @Session["SubTotal"]=@subtotal;
        </table>

        @*<div class="offset-lg-7">
            <div>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td> <h1>Subtotal</h1></td>
                            <td><h1>@subtotal</h1></td>
                        </tr>
                    </tbody>
                </table>
               
            </div>*@
            <div style="margin-top:50px;">
                <a class="btn  btn1" href="/Home/SaveOrder">CASH ON DILIVER</a>
                <a class="btn btn1" href="/Home/PaymentWithPaypal">PAYMENT WITH PAYPAL</a>
            </div>

        </div>

    </div>




