@model IEnumerable<Home_A_Heaven.Models.CartModel>
@using Home_A_Heaven.Models
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ProductModel> products;
    IEnumerable<ProductImageModel> productImages;


    if (ViewBag.Products != null && ViewBag.ProductImages != null)
    {
        products = ViewBag.Products;
        productImages = ViewBag.ProductImages;

    }
    else
    {
        products = null;
        productImages = null;
    }

    double subtotal = 0;
}

<style>
    body {
        font-family: 'Times New Roman';
        color: gray;
    }

    .cart {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        color: gray;
        font-family: 'Times New Roman';
    }

    .btn1 {
        padding: 10px;
        margin-bottom: 40px;
        color: white !important;
        font-size: 16px;
        font-weight: 600;
        background-color: gray;
        border-radius: 0px;
    }

        .btn1:hover {
            opacity: 0.8;
        }

    .cart-item {
        padding-top: 50px;
    }

    .btn2 {
        border-radius: 0px;
        border: 1px solid gray;
    }

        .btn2:hover {
            opacity: 0.8;
        }
    .btn3 {
        padding: 10px;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 600;
        background-color: white;
        color:gray;
        border:1px solid lightgray;
        border-radius:0px;
        margin-right:20px;
    }

        .btn3:hover {
            background-color: white;
            opacity: 0.8;
        }
</style>

@if (Model.Count() == 0)
{
    <div class="container">
        <div class="cart">
            <h1>Your Cart</h1>
            <p>Your Cart is currently empty</p>
            <a class="btn btn1" href="/Home/Index">CONTINUE SHOPPING</a>
          
        </div>
    </div>
}
else
{
    <div class="container">

        <table class="table table-borderless">
            <tr>
                <th class="col-lg-5">
                    @Html.DisplayName("Product")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr style="border-bottom:1px solid lightgray;">
                    <td class="cart-item col-lg-5">
                        @foreach (ProductImageModel image in productImages)
                        {
                            if (image.productId == item.ProductId)
                            {
                                <img src="@Url.Content(image.ImageURL)" style="height:80px;width:80px; float:left" />

                            }
                        }
                        @foreach (ProductModel product in products)
                        {
                            if (product.Id == item.ProductId)
                            {
                                <h2>@product.Name</h2>
                                <a class="btn btn2" href="/Home/RemoveCart/@item.Id" style="">REMOVE</a>
                            }
                        }
                    </td>
                    <td class="cart-item">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>

                </tr>
                subtotal = subtotal + item.Total;
            }
            @Session["SubTotal"]=subtotal;
        </table>
        
        <div class="offset-lg-7">
            <div>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td> <h1>Subtotal</h1></td>
                            <td><h1>@subtotal</h1></td>
                        </tr>
                    </tbody>
                </table>
                <p class="offset-3" style="font-style:italic">Shipping & taxes calculated at checkout</p>
            </div>
            <div style="margin-top:50px;">
                <a class="btn btn-default btn3" href="/Home/Index">CONTINUE SHOPPING</a>
                <a class="btn btn1" href="/Home/Order">Check Out</a>
            </div>
           
        </div>

    </div>

}


